.btn {
    font-size: 1.125rem;
    padding: 5px;
    margin-bottom: 15px;
    background-color: #819595;
    border-radius: 15px;
    border: none;
    color:  #fff;
    box-shadow: 2px 2px 5px #2b323c;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    transform: scale(.95);
}

.center {
    text-align: center;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2d2c2c;
    color: white;
    margin: 0;
    padding: 0;
}

.box {
    height: calc(100% - 80px);
    width: calc(100% - 40px);
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #2d2c2c;
    font-weight: 600;
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    align-items: stretch;
    padding: 20px;
}

.flexColumn {
    /* padding: 0 10px; */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
}

.flexStretch {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.flexColumnEnd {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
}

.input {
    height: 20px;
    margin-bottom: 6px;
}

.label {
    margin-bottom: 6px;
    font-size: 1.125rem;
}

.selector {
    width: 100px;
}

@media (min-height: 400px) {
    .box {
        height: 400px;
        margin-top: 0;
    }
}

@media (min-width: 400px) {
    .box {
        width: 400px;
    }
}
